USE $(dbName)
GO
/****** Object:  Table [dbo].[Person]    Script Date: 20.09.2019 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] NOT NULL,
	[DblpKey] [varchar](40) NOT NULL,
	[DblpXML] [varchar](80) NULL,
	[Name] [varchar](40) NULL,
	[N] [char](3) NULL,
	[HtmlFile] [varchar](80) NULL,
	[PersonUrl] [varchar](80) NULL,
	[HTML] [varchar](4000) NULL,
	[LastName] [varchar](40) NULL,
	[FirstName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Person] ([Id], [DblpKey], [DblpXML], [Name], [N], [HtmlFile], [PersonUrl], [HTML], [LastName], [FirstName]) VALUES (1, N'homepages/79/2850', N'http://dblp.uni-trier.de/pers/xx/p/Pankowski:Tadeusz.xml', N'Tadeusz Pankowski', N'41 ', N'http://dblp.uni-trier.de/pers/hd/p/Pankowski:Tadeusz.html', N'http://etacar.put.poznan.pl/tadeusz.pankowski/', N'</font><font color="firebrick"><b>Tadeusz Pankowski, </b></font><i>PUT, Poland</i><br/>', N'Pankowski', NULL)
INSERT [dbo].[Person] ([Id], [DblpKey], [DblpXML], [Name], [N], [HtmlFile], [PersonUrl], [HTML], [LastName], [FirstName]) VALUES (2, N'homepages/v/VictorVianu', N'http://dblp.dagstuhl.de/pers/xx/v/Vianu:Victor.xml', N'Victor Vianu', N'174', N'C:/DAFO/Authors/Victor-Vianu.html', N'http://www-cse.ucsd.edu/users/vianu', N'</font><font color="firebrick"><b>Victor Vianu, </b></font><i>University of California, San Diego, USA</i><br/>', N'Vianu', NULL)
INSERT [dbo].[Person] ([Id], [DblpKey], [DblpXML], [Name], [N], [HtmlFile], [PersonUrl], [HTML], [LastName], [FirstName]) VALUES (3, N'homepages/b/ABonifati', N'http://dblp.uni-trier.de/pers/xx/b/Bonifati:Angela.xml', N'Angela Bonifati', N'82 ', N'C:/DAFO/Authors/Angela-Bonifati.html', N'http://liris.cnrs.fr/angela.bonifati/', N'</font><font color="firebrick"><b>Angela Bonifati, </b></font><i>University of Lyon, France</i><br/>', N'Bonifati', NULL)
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Person__B6B4B03465127911]    Script Date: 20.09.2019 10:08:32 ******/
ALTER TABLE [dbo].[Person] ADD UNIQUE NONCLUSTERED 
(
	[DblpKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
