USE $(dbName)
GO
/****** Object:  Table [dbo].[Conference]    Script Date: 20.09.2019 08:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conference](
	[Id] [int] NOT NULL,
	[DblpKey] [varchar](30) NOT NULL,
	[ShortName] [varchar](80) NULL,
	[Acronym] [varchar](20) NULL,
	[EditionNo] [char](4) NULL,
	[City] [varchar](20) NULL,
	[Country] [varchar](20) NULL,
	[Year] [char](4) NULL,
	[FullName] [varchar](100) NULL,
	[Organizer] [varchar](20) NULL,
	[ConfHomeUrl] [varchar](80) NULL,
	[HTML] [varchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Conference] ([Id], [DblpKey], [ShortName], [Acronym], [EditionNo], [City], [Country], [Year], [FullName], [Organizer], [ConfHomeUrl], [HTML]) VALUES (1, N'db/conf/dexa/dexa2016-2', N'27. DEXA 2016: Porto, Portugal - Part II', N'DEXA', N'27  ', N'Porto', N'Portugal', N'2016', N'Database and Expert Systems Applications (DEXA)', NULL, N'', N'</font><font color="olive"><b>DEXA</b></font><i>, Database and Expert Systems Applications (DEXA); Porto; Portugal; 2016</i><br/>')
INSERT [dbo].[Conference] ([Id], [DblpKey], [ShortName], [Acronym], [EditionNo], [City], [Country], [Year], [FullName], [Organizer], [ConfHomeUrl], [HTML]) VALUES (2, N'db/conf/iceis/iceis2016-1', N'18. ICEIS 2016: Rome, Italy', N'ICEIS', N'18  ', N'Rome', N'Italy', N'2016', N'International Conference on Enterprise Information Systems (ICEIS)', NULL, N'', N'</font><font color="olive"><b>ICEIS</b></font><i>, International Conference on Enterprise Information Systems (ICEIS); Rome; Italy; 2016</i><br/>')
INSERT [dbo].[Conference] ([Id], [DblpKey], [ShortName], [Acronym], [EditionNo], [City], [Country], [Year], [FullName], [Organizer], [ConfHomeUrl], [HTML]) VALUES (3, N'db/conf/bdas/bdas2015', N'11. BDAS 2015: Ustron, Poland', N'BDAS', N'11  ', N'Ustron', N'Poland', N'2015', N'Beyond Databases, Architectures, and Structures', NULL, N'', N'</font><font color="olive"><b>BDAS</b></font><i>, Beyond Databases, Architectures, and Structures; Ustron; Poland; 2015</i><br/>')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Conferen__B6B4B034E715CB0D]    Script Date: 20.09.2019 08:34:52 ******/
ALTER TABLE [dbo].[Conference] ADD UNIQUE NONCLUSTERED 
(
	[DblpKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
