USE $(dbName)
GO
/****** Object:  Table [dbo].[AuthorPaper]    Script Date: 20.09.2019 08:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorPaper](
	[PersonId] [int] NOT NULL,
	[PaperId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC,
	[PaperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AuthorPaper] ([PersonId], [PaperId]) VALUES (1, 1)
INSERT [dbo].[AuthorPaper] ([PersonId], [PaperId]) VALUES (1, 2)
INSERT [dbo].[AuthorPaper] ([PersonId], [PaperId]) VALUES (1, 3)
GO
ALTER TABLE [dbo].[AuthorPaper]  WITH CHECK ADD FOREIGN KEY([PaperId])
REFERENCES [dbo].[Paper] ([Id])
GO
ALTER TABLE [dbo].[AuthorPaper]  WITH CHECK ADD FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
